.cards__image:nth-child(4){
  border-radius: 50%;
  margin-bottom: -80px;
}
.cards__image {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 0px;
  /*border: 1px solid seagreen;*/
}


